/*https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: 'Raleway', sans-serif;
    padding: 0px 40px;
}

header {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 0px 50px;
    font-size: 20px;
}

.nav {
    text-decoration-line: none;
}

.nav:hover {
    color: #0065FC;
    text-decoration: underline #0065FC;
    text-underline-offset: -65px;
    text-decoration-thickness: 1.2px;
}

#logo img {          
    width: 200px;
    height: 120px;
    cursor: pointer;
}

.opening-1 {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

.opening-2 {
    margin-top: 5px;
    font-size: 18px;
}

#userInput{
    display:flex;
    margin-top: 25px;
}

#inputField {
    border: 2px solid #F2F2F2;
}

.info-text {
    font-size: 14.75px;
    margin-left: 10px;
}

.i-symbol {
    position: relative;
    font-size: 13.5px;
}

.fa-info{
    position:absolute;
    left:-15px;
    top: -5px;
}

.accomodations-info {
    margin-left:10px;
    margin-top: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.accomodations-info .info-icon .empty-circle{
    font-size: 12px;
}

.fa.fa-regular.fa-circle {
    color: #F2F2F2;
}

.fa.fa-sharp.fa-solid.fa-info {
    color: #0065FC;
}

#browse {
    height:50px;
    background-color: #F2F2F2;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 50px;
    cursor: pointer;
}


.filter .filter-label {
    padding: 0px 20px;
    align-self: center;
    font-weight: bold;
}

#search {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height:50px;
    width: 75px;
    cursor:pointer;
    color: white;
    background-color: #0065FC;
}

#mobile-search
{
    position: relative;
    height:50px;
    width: 50px;
    cursor:pointer;
    color: white;
    background-color: #0065FC;
    border-radius: 16px;
    display: none;
    left: -10px;
}

#filters-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px 25px;
}

#filter-text {
    font-weight: bold;
}

.filter {
    display: flex;
    border-radius: 40px;
    border: 2px solid #F2F2F2;
    background-color: white;
    cursor: pointer;
    height: 40px;
}

.filter:hover{
    border-color: #0065FC;
}


.filter .circle {
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-2px;   /*Brings up the circle since top: -number goes up when position:relative*/
    left:-2px; /*Brings left the circle since left: -number goes left when position:relative*/
}


.filter .circle i {
    color: #0065FC;
}

#accommodations-container{
    display: flex;
    justify-content: space-between; 
    margin-top: 15px;
}


#accommodations {
    display: flex;
    flex-direction: column;
    flex-basis:64%;
    padding: 2%;
    background-color:#F2F2F2;
    border-radius: 20px;
}

#accommodations-container #accommodations .cards-row{
    display: flex;
    /*I chose 5% on column gap just by inspecting the reasonable gap to
    maintain the same sizes of each card on same row as well as same gaps between them*/
    gap: 0px 4%;
    padding-bottom: 30px;
}

#accommodations-container #accommodations .cards-row .card {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 1px 9px 5px #F2F2F2;
    height: 220px;
    gap:4px 0px;
    padding-bottom: 10px;
}

#accommodations-container #accommodations .cards-row .card:hover
{
    color:rgba(32, 139, 0, 1);
}

#accommodations-container #accommodations .card .card-title {
    font-weight: 520;
    text-indent: 15px;
    font-size: 100%;
}

#accommodations-container #accommodations .card .cost {
    font-size: 90%;
    text-indent: 15px;
}

#accommodations-container #accommodations .card .stars {
    padding-left: 15px;
    font-size: 88%;
}

#accommodations-container #show-more {
    text-decoration-line: none;
}

#accommodations-container #show-more:visited{
    color:black;
}

.fa-solid.fa-star {
    color: #0065FC;
}

.fa.fa-duotone.fa-star {
    color: #F2F2F2;
}

#accommodations-container #accommodations .card .image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
}

#mostPopular {
    display: flex;
    flex-direction: column;
    flex-basis:32%;
    background-color: #F2F2F2;
    border-radius: 20px;
    align-items: center;
}


#mostPopular #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-top: 30px;
}

#mostPopular #header .fa-solid.fa-star {
    color: black;
}

#mostPopular .cards-row {
    display: flex;
    flex-wrap: wrap;
    width:90%;
    gap: 25px 0px;
}

#mostPopular .cards-row .card {
    display: flex;
    flex-basis: 100%;
    height:150px;
    cursor:pointer;
    border-radius: 20px;
    background-color: white;
    gap:0% 5%;
}

#mostPopular .cards-row .card:hover {
    color:rgba(32, 139, 0, 1);
}

.most-Popular-info
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:14px 0px;
}

#mostPopular .cards-row .card .title{
    font-weight: 520;
    font-size: 100%;
}

#mostPopular .cards-row .card .cost{
    font-size: 90%;
}

#mostPopular .cards-row .card .image{
    height:100%;
    flex-basis: 40%;
    min-width: 40%; /*Constrains width of image to be at least 30%*/

}

#mostPopular .cards-row .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;

}

#mostPopular .cards-row .card .stars{
    font-size: 88%;
}

#activitiesHeader {
    margin-top: 55px;
}

#activities{
    display: flex;
    flex-direction: column;
}

#activities #cards-wrapper{
    display: flex;
    justify-content: space-between;
}


.activity-title{
    position: relative;
    font-weight: 550;
    top: 10px;
    left: 15px;
}

#activities #cards-wrapper #col1
{
    width:21%;
}

#activities #cards-wrapper #col1 .activity{
    height:450px;
    width:100%;
    border-radius: 20px;
    box-shadow: 2px 1px 9px 5px #F2F2F2;
    cursor:pointer;
}


#activities #cards-wrapper #col1 .activity .image{
    height: 400px;
    width:100%;
}

#activities #cards-wrapper #col1 .activity .image img{
    height: 400px;
    width:100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}


#activities #cards-wrapper #col2
{
    display: flex;
    flex-direction: column;
    width:21%;
    gap: 45px 0px;
}


#activities #cards-wrapper #col2 .activity{
    height:200px;
    width:100%;
    border-radius: 20px;
    box-shadow: 2px 1px 9px 5px #F2F2F2;
    cursor:pointer;
}

#activities #cards-wrapper #col2 .activity .image{
    height:75%;
    width:100%;
}

#activities #cards-wrapper #col2 .activity .image img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#activities #cards-wrapper #col3
{
    width:21%;
}

#activities #cards-wrapper #col3 .activity{
    height:450px;
    width:100%;
    border-radius: 20px;
    box-shadow: 2px 1px 9px 5px #F2F2F2;
    cursor:pointer;
}


#activities #cards-wrapper #col3 .activity .image{
    height:400px;
    width:100%;
}

#activities #cards-wrapper #col3 .activity .image img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}



#activities #cards-wrapper #col4
{
    display: flex;
    flex-direction: column;
    width:21%;
    gap: 45px 0px;
}


#activities #cards-wrapper #col4 .activity{
    height:200px;
    width:100%;
    border-radius: 20px;
    box-shadow: 2px 1px 9px 5px #F2F2F2;
    cursor:pointer;
}

#activities #cards-wrapper #col4 .activity .image{
    height:150px;
    width:100%;
}

#activities #cards-wrapper #col4 .activity .image img{
    height:150px;
    width:100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.activity:hover
{
    color:rgba(32, 139, 0, 1);
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    background-color: #F2F2F2;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    flex-basis: 30%;
}

ul .header {
    padding: 10px 0px 15px 0px;
    font-size: 18px;
}

ul .footer-link {
    padding-bottom: 8px;
    font-size: 15px;
}

ul .footer-link a {
    text-decoration: none;
    color: black;
}

@media (max-width: 992px)
{
    body{
        padding: 0px;
    }

    header{
        flex-direction: column;
    }


    nav{
        width: 100%;
        padding-top: 20px;
        border-bottom: 5px solid #F2F2F2;
    }
    
    .nav{
        padding-bottom: 50px;
        text-decoration-thickness: 5px;
        width: 100%;
        border-bottom: 5px solid #F2F2F2;
        text-align: center;
        margin-bottom: -5px;
    }

    .nav:hover
    {
        border-bottom: 5px solid #0065FC;
        text-decoration: none;
        color: #0065FC;
    }


    form, #filters-container, .opening-1, .opening-2{
        margin-left: 20px;
    }

    #activitiesHeader
    {
        text-align: center;
    }
}

@media (max-width: 992px) and (min-width: 768px)
{
    #accommodations-container{
        flex-direction: column;
        gap:50px 0px;
    }

    #accommodations{
        width:100%;
    }

    #mostPopular
    {
        width:100%;
    }

    #mostPopular .cards-row{
        width: 100%;
        padding: 0px 50px 50px 50px;
    }

    #mostPopular .cards-row .card .image{
        width:40%;
    }

    #mostPopular .cards-row .card{
        flex-basis: 100%;
        height: 200px;
    }

    #activities #cards-wrapper{
        flex-direction: column;
        gap:50px 0px;
    }

    #activities #cards-wrapper #col1{
        width: 100%;
        padding:0px 50px;
    }

    #activities #cards-wrapper #col1 .activity{
        height: 350px;
    }

    #activities #cards-wrapper #col1 .activity .image{
        height: 300px;
    }

    #activities #cards-wrapper #col1 .activity .image img{
        height: 300px;
    }


    #activities #cards-wrapper #col2{
        flex-direction: row;
        width:100%;
        padding:0px 50px;
        justify-content: space-between;
    }

    #activities #cards-wrapper #col2 .activity{
        width:48%;
        height: 350px;
    }

    #activities #cards-wrapper #col2 .activity .image{
        height: 300px;
    }

    #activities #cards-wrapper #col2 .activity .image img{
        height: 300px;
    }

    #activities #cards-wrapper #col3{
        width: 100%;
        padding:0px 50px;
    }

    #activities #cards-wrapper #col3 .activity{
        width: 100%;
        height: 350px;
    }

    #activities #cards-wrapper #col3 .activity .image{
        height:300px;
    }

    #activities #cards-wrapper #col3 .activity .image img{
        height:300px;
    }

    #activities #cards-wrapper #col4
    {
        flex-direction: row;
        width:100%;
        padding:0px 50px;
        justify-content: space-between;
    }

    #activities #cards-wrapper #col4 .activity{
        width:48%;
        height: 350px;
    }

    #activities #cards-wrapper #col4 .activity .image{
        height: 300px;
    }

    #activities #cards-wrapper #col4 .activity .image img{
        height:300px;
    }
    
}


@media (max-width: 768px){
    
    #filters-container #filter-text
    {
        width:100%;
        padding-bottom: 20px;
    }

    #filters-container .filter.one{order: 1;}   /*Keeping Low cost Filter at first position in flexbox*/
    #filters-container .filter.two{order: 3;}   /*Moving the Family-friendly filter to third position in flexbox*/
    #filters-container .filter.three{order: 2;} /*Moving the Romantic filter to second position in flexbox*/
    #filters-container .filter.four{order: 4;}  /*Keeping Low cost Filter at fourth position in flexbox*/
    
    
    #search{
        display: none;
    }

    #mobile-search{
        display: block;
    }

    #accommodations-container{
        flex-direction: column-reverse;
    }


    #mostPopular
    {
        width:100%;
    }

    #mostPopular .cards-row .card .image{
        width:40%;
    }

    #mostPopular .cards-row{
        width:100%;
        padding: 0px 50px 50px 50px;
    }
    
    #mostPopular .cards-row .card{
        flex-basis: 100%;
        height: 200px;
    }

    #accommodations
    {
        background-color: white;
        width: 100%;
    }

    #accommodations-container #accommodations .cards-row
    {
        flex-direction: column;
        padding: 0 30px 30px 30px;
        gap: 30px 0px;
    }

    #accommodations-container #accommodations .cards-row .card {
        gap:15px 0px;
    }


    #activities #cards-wrapper{
        flex-direction: column;
        gap:50px 0px;
    }

    #activities #cards-wrapper #col1{
        width: 100%;
        padding:0px 50px;
    }

    #activities #cards-wrapper #col1 .activity{
        height: 350px;
    }

    #activities #cards-wrapper #col1 .activity .image{
        height: 300px;
    }

    #activities #cards-wrapper #col1 .activity .image img{
        height: 300px;
    }


    #activities #cards-wrapper #col2{
        width:100%;
        padding:0px 50px;
        justify-content: space-between;
    }

    #activities #cards-wrapper #col2 .activity{
        height: 350px;
    }

    #activities #cards-wrapper #col2 .activity .image{
        height: 300px;
    }

    #activities #cards-wrapper #col2 .activity .image img{
        height: 300px;
    }

    #activities #cards-wrapper #col3{
        width: 100%;
        padding:0px 50px;
    }

    #activities #cards-wrapper #col3 .activity{
        height: 350px;
    }

    #activities #cards-wrapper #col3 .activity .image{
        height:300px;
    }

    #activities #cards-wrapper #col3 .activity .image img{
        height:300px;
    }

    #activities #cards-wrapper #col4
    {
        width:100%;
        padding:0px 50px;
        justify-content: space-between;
    }

    #activities #cards-wrapper #col4 .activity{
        height: 350px;
    }

    #activities #cards-wrapper #col4 .activity .image{
        height: 300px;
    }

    #activities #cards-wrapper #col4 .activity .image img{
        height:300px;
    }

    footer{
        flex-direction: column;
    }
    
}

